<% include ../partials/header %>    
        <h3>Transactions</h3>    
        <p>There are <%= count %> transactions processed so far.</p>
        <section id="main">
            <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Currency From</th>
                    <th scope="col">Currency To</th>
                    <th scope="col">Amount Sold</th>
                    <th scope="col">Amount Bought</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            
            <% for (var i = 0; i < txns.length; i++) { %>
                <tr>
                    <td><%= txns[i].timestamp %></td>
                    <td><%= txns[i].user_id %></td>
                    <td><%= txns[i].currency_from %></td>
                    <td><%= txns[i].currency_to %></td>
                    <td><%= txns[i].amount_sell %></td>
                    <td><%= txns[i].amount_buy %></td>
                    <td><%= txns[i].rate %></td>
                    <td><%= txns[i].country %></td>
                </tr>    
            <% } %>
            </table>

            <nav aria-label="Page navigation">
            <ul class="pagination">
                    
                <li class="page-item <% if (currpage == 1) { %> disabled <% } %>">                    
                    <a class="page-link" href="#">Previous</a>
                </li>

                <% for (var i = 1; i <= pages; i++) { %>
                    <li class="page-item <% if (currpage == i) { %> active <% } %>">
                        <a class="page-link" href="/?p=<%= i %>"><%= i %></a>
                    </li>
                <% } %>

                <li class="page-item <% if (currpage >= pages) { %> disabled <% } %>">                    
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
            </nav>
        </section>
<% include ../partials/footer %> 
        